@font-face {
    font-family: 'norsebold';
    src: url('/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.pageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Sidebar Styles */

.titleSideContainer {
    height: 100vh;
    width: 35%;

    /* Import image, center and set to cover the div it is within. */
    background-image: url(./images/bjorn-snelders-Cd3Ek7rNXSk-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.contentContainer {
    height: 100vh;
    width: 65%;
}

.titleShadow {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 55%;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.mainTitle {
    font-family: 'norsebold', 'Roboto', 'sans-serif';
    font-size: 6rem;
    color: white;
}

.sideBarFooter {
    position: absolute; 
    width: 35%;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.sideBarFooter,
.sideBarFooter a,
.sideBarFooter a:active{
    color: white;
}

/* Main Content Container Styles */

.contentContainer {
    background-color: #EAEBEC;
}

.topContent,
.formContent,
.bottomContent {
    margin-left: 75px;
    font-size: 1.5rem;
}

.topContent {
    max-height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px 50px 50px 0;
}

.introPara {
    padding-bottom: 10px;
}

.centerContent,
.signUpPara {
    padding-bottom: 25px;
}

.centerContent {
    background-color: white;

    box-shadow: 0 10px 10px lightgray;
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#formLegend {
    padding: 25px 0;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #596D48;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 5px;
    margin: 35px 0;
}

input, 
label {
    display: block;
}